.git
.github
.agents
.ai
.amp
.claude
.codex
.cursor
.gemini
.junie
.editorconfig
.gitattributes
.gitignore
*.md
AGENTS.md
CLAUDE.md
GEMINI.md
node_modules
vendor
.env
.env.*
!.env.example
tests
.phpunit.cache
.phpunit.result.cache
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/pail
database/.gitignore
bootstrap/ssr
bootstrap/cache/*.php
database/*.sqlite*
public/build
public/hot
public/storage
resources/js/actions
resources/js/routes
resources/js/wayfinder
tmp
.fleet
.idea
.nova
.vscode
.zed
